SERVER_NAME=evolution
SERVER_TYPE=http
SERVER_PORT=8080
SERVER_URL=http://127.0.0.1:8080
SERVER_DISABLE_DOCS=true
SERVER_DISABLE_MANAGER=true

CORS_ORIGIN=*
CORS_METHODS=POST,GET,PUT,DELETE
CORS_CREDENTIALS=true

DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution:replace-with-random-password@evolution-database:5432/evolution
DATABASE_CONNECTION_CLIENT_NAME=renewpilot_evolution
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_HISTORIC=false
DATABASE_SAVE_DATA_LABELS=true
DATABASE_SAVE_IS_ON_WHATSAPP=true
DATABASE_DELETE_MESSAGE=false

POSTGRES_DB=evolution
POSTGRES_USER=evolution
POSTGRES_PASSWORD=replace-with-random-password

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://evolution-redis:6379
CACHE_REDIS_PREFIX_KEY=renewpilot-evolution
CACHE_REDIS_TTL=604800
CACHE_REDIS_SAVE_INSTANCES=true
CACHE_LOCAL_ENABLED=false

AUTHENTICATION_API_KEY=replace-with-long-random-api-key
AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=false
LOG_LEVEL=ERROR,WARN,INFO
LOG_COLOR=false
LOG_BAILEYS=error
LANGUAGE=en
DEL_INSTANCE=false
QRCODE_LIMIT=30
CONFIG_SESSION_PHONE_CLIENT=renvix
CONFIG_SESSION_PHONE_NAME=Chrome

WEBHOOK_GLOBAL_ENABLED=false
WEBSOCKET_ENABLED=false
RABBITMQ_ENABLED=false
NATS_ENABLED=false
SQS_ENABLED=false
PUSHER_ENABLED=false
